.container{
    max-width: 1080px;
    margin: 0 auto;
    display: center;
    align-items: center;
    justify-content: center;

}
header{
    background-color: rgba(0, 0, 0, 0.877);
    width: 100%;
 
}
body{
    margin: 0;
    box-sizing: border-box;
    height: 2300px;


}

nav a:hover{
    transition: 0.5s;
    background-color: rgba(231, 83, 8, 0.719);
    color: black;
}
.logo{
    width: 20%;
}
.logo img{
    width: 100px;
}                                                                        
.white {
    color: aliceblue;

}
div {
    font-size: 30px;
   
}
.joy{
   position: absolute;
   top: 1215px; left: 500px;
}
.texto{
    position: absolute;
    top: 1540px;
    left: 10px;
    color: rgb(255, 255, 255);
    width: 1200px;
    padding: 25px;
    border: 10px solid rgb(0, 0, 0);
    margin: 25px;
    background-color: rgb(0, 0, 0);
}
.texto1{
    left: 55px;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    width: 1200px;
    padding: 25px;
    border: 10px solid rgb(0, 0, 0);
    margin: 25px;
    
}
.falecomigo{
    position: absolute;
    top: 1800px;
    left: 10px;
    width: 1250px;
}
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 200px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;
    

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 6px solid rgb(87, 81, 81);
}
input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: rgb(0, 0, 0);
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 2em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 1px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}

 
